<div class="overviewContainer">
    <img src="assets/images/overview.png" class="overviewPlanet">
    <div class="overviewDetails">
        <span id="text">Used space: {{user.usedSpace}}/{{user.availibleSpace}}</span>
        <span id="text">Building in progress: none</span>
        <span id="text">Research in progress: none</span>
        <span id="text">Ship in progress: none</span>
        <span id="text">Enemies defeated: {{user.enemiesDefeated}}/6</span>
        <span id="text">Points: {{user.points}}</span>
    </div>
        
</div>