@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

html, body, button {
    font-family: "Goldman", sans-serif;
    margin: 0;
    font-size: 24px;
    color: white;    
}
body {
    background-image: url("assets/images/2020-02-09-kosmos_zvezdy_nebo_159567_3840x2160.jpg")
}
tbody {
    display: grid;
    grid-template-columns: 1fr 0fr 9fr;
    grid-template-rows: 1;
    grid-template-areas: "menu buildings";    
    min-height: 90vh;
    align-items: center;
    justify-items: center;   
}
thead {
    display: flex;
    min-width: 80vw;
    justify-content: center;    
}
table{
    display: grid;
}
img {
    display: block;
    max-width: 100%;
    max-height: 270px;
    }

 .description{
    font-size: 0.6em;
    padding: 0.5em;    
 }
    
.menuContainer {    
    max-width: 200px;
    display: grid;
    grid-area: menu;    
    margin-left: 1vw;
    margin-right: 0;    
    }
.overviewContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 300px;
    min-width: 55vw;
}
.overviewDetails{
    display: grid;
    background-color: #151829;
    grid-column-start: 2;
    grid-row-start: 2;
    border-radius: 25px;
    border: 1px solid white;
    padding: 1em;
}
.buildingsContainer, .researchesContainer, .shipsContainer, .messagesContainer {    
    min-width: 60vw;
    max-height: 80vh;
    display: block;
    overflow-y: scroll;
    background-color: #151829;
    color: white;
    grid-area: buildings;    
}
.buildingContainer, .researchContainer, .shipContainer, .messageContainer{       
    max-width: 1100px;
    display: flex;
    padding: 1em;
    min-width: 50vw;     
    border: 1px solid #E5E4E2;    
}

.loginContainer{
    min-width: 30vw;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    background-color: #151829;
    border: 1px solid #E5E4E2;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
}

.credentialsContainer{
    min-width: 100%;
    min-height: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputWithDescription{
    justify-content: center;
    align-items: baseline;
    display: flex;
    margin-top: 3%;
}

.inputWithDescription > *{
    margin-left: 3%;
}

.loginButtonsContainer{
    min-width: 100%;
    display: flex;
    justify-content: space-around;
}

.loginInput{
    min-height: 30px;
    font-size: inherit;
    max-width: 200px;
}

.costContainer, .shipRequirements, .researchRequirements{
    font-size: 0.7em;
    margin-top: 1%;
}

.descriptionContainer{
    display: flex;
    font-family:'Trebuchet MS';
    margin-top: 1%;
    font-size: 1.05em;    
}

.resourcesContainer {
    display: flex;
    gap: 1em;
    padding: 0 1em;
    border: 1px solid white;
    border-radius: 25px;
    background-color: #151829; 
    color: white;    
    min-height: 5vh;    
    align-items: center;
    justify-content: center;
    flex: 1;   
}
.mapContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;    
    min-width: 80vw;
    min-height: 80vh;
    justify-items: center;
    position: relative;
    }

.enemyContainer {    
    display: grid;
    justify-items: center;
    align-items: center;    
}

.enemyRequirements{
    display: grid;        
}

.enemyRewardsContainer{
    display: grid;
}

.buildingButton, .researchButton, .shipButton, .messageButton{
    min-width: 100px;
    min-height: 50px;
    margin-left: auto;
    margin-top: auto;
    color: black;
    cursor: pointer;
    position: absolute;
    right: 0em;
    bottom: 0em;
    font-size: inherit;
}

.loginButton{
    min-width: 200px;
    min-height: 50px;
    color: black;
    cursor: pointer;
    transition: color 0.2s linear;
    }

.content{
    white-space:pre-wrap;
}
.messageHeader{
    text-decoration: underline;
    display: flex;
    margin-bottom: 1%;
}

.date{
    margin-left: 1%;
}

.attackButton{
    min-width: 100px;
    min-height: 50px;
    margin-left: auto;
    margin-top: auto;
    color: black;
    cursor: pointer;
}

.shipCountInput{
    max-width: 75px;
    max-height: 50px;
    font-size: inherit;    
    position: absolute;
    bottom: 0em;
    right: 4.5em;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

.buildingDetails, .researchDetails, .shipDetails, .messageDetails {
    padding: 0.5em;
    flex: content;
    position: relative;  
}

.costContainer{
    display: flex;
    gap: 0.5em;    
}

.menuButton, .mapButton{
    min-width: 200px;
    min-height: 50px;
    background-color: #151829;
    color: white;
    cursor: pointer;
    transition: color 0.2s linear;
    margin: 1px;
    border-color: transparent;    
}

.mapButton {
    border: 1px solid white;
}

.menuButton:hover, .mapButton:hover{
    color: #FFD700 !important;
}

.loginButton:hover{
    color: #00E676 !important;
}

.menuButton:active {
    border: 1px solid #00FFFF;
    color: #FFD700
}

.mapButton.active, .loginButton.active{
    border: 1px solid #00FFFF;
    color: #FFD700 !important;
}

.planetImage{
    max-width: 150px;
}

.overviewPlanet{
    min-width: 50vw;
    min-height: 90vh;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2;    
}

.logout{
    background-color: #151829;
    font-size: 2rem;
}

.defeated{
    transform: translateY(20vh);
}

#pirates {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;   
}

#piratesContainer, #outsidersContainer, #rebelsContainer, #armamentsContainer, #distantsContainer, #ancientsContainer{
    display: grid;
    grid-column-start: 1;
    grid-column-end: span 3;    
    grid-row-start: 3;
    grid-row-end: 3;
    border: 1px solid #00FFFF;
    background-color: #151829;
    border-radius: 25px;
    padding: 1em;
    position: absolute; 
    visibility: hidden;    
}
#outsidersContainer{
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 2;
    grid-row-end: 2;
    z-index: 1;
}
#rebelsContainer{
    grid-column-start: 3;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: 1;
    z-index: 1;
}
#armamentsContainer{
    grid-column-start: 4;
    grid-column-end: span 4;
    grid-row-start: 2;
    grid-row-end: 2;
}
#distantsContainer{
    grid-column-start: 3;
    grid-column-end: span 3;
    grid-row-start: 3;
    grid-row-end: 3;
    transform: translateY(-8vh);
    z-index: 1;
}
#ancientsContainer{
    grid-column-start: 4;
    grid-column-end: span 4;
    grid-row-start: 2;
    grid-row-end: 2;
    z-index: 1;
}

#piratesContainer.show, #outsidersContainer.show, #rebelsContainer.show, #armamentsContainer.show, #distantsContainer.show, #ancientsContainer.show{
    visibility: visible;    
}

#outsiders {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
#rebels {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
#armaments {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    transform: translateY(-4vh);    
}
#distants {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
}
#ancients {
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
}

#margin{
    margin-left: 1%;
}

#red {
    color: red;
}
