<ng-container *ngIf="!enemy?.isDefeated" >
<div class="enemyShipsDetails" *ngIf="loggedIn()&&enemy">
    <div *ngFor="let ship of enemy?.ships">
        {{displayHelper.addSpaces(displayHelper.changeDisplayedName(ship.name))}}: {{ship.count}}                        
    </div>                        
</div>
Time To Travel: <countdown #countdown [config]="configs[enemy!.type]" (event)="handleCountdown($event, enemy!.type)"></countdown>
<div>
    Requirements: 
    <div class="enemyRequirements" *ngFor="let requirement of enemy?.requirements">        
        <span id="red">{{displayHelper.addSpaces(displayHelper.changeDisplayedName(requirement.name))}} lvl {{requirement.level}}</span>
    </div>        
</div>
    <div class="enemyRewardsContainer">
        Rewards: 
        <div *ngFor="let reward of enemy?.rewards">
            <span *ngIf= 'reward.name === "CarbonFiberResource"' style="color:#00E676">{{displayHelper.displayShortName(reward.name)}}</span>
            <span *ngIf= 'reward.name === "QuantumGlassResource"' style="color:#00B8D4">{{displayHelper.displayShortName(reward.name)}}</span>
            <span *ngIf= 'reward.name === "HiggsBosonResource"' style="color:#FFD700">{{displayHelper.displayShortName(reward.name)}}</span>
            : {{displayHelper.numberWithDots(reward.value)}}                                          
        </div>                    
    </div>                
 <button class="attackButton" [disabled]="(!canAttack()||(this.isEnemyUnderAttack))" (click)="countdown.resume(); onClick(enemy!.type, this.user.username)">Attack</button>
</ng-container>
<ng-container *ngIf="enemy?.isDefeated">
<div>{{displayHelper.changeDisplayedName(enemy!.name)}} are already defeated.</div>
</ng-container>
