<div class="mapContainer">
    <div class="enemyContainer" id="pirates">
        <img src="assets/images/pirates.png" class="planetImage">
        <button class="mapButton">Pirates</button>
    </div>
    <div class="enemyContainer" id="outsiders">
        <img src="assets/images/outsiders.png" class="planetImage">
        <button class="mapButton">Outsiders</button>
    </div>
    <div class="enemyContainer" id="rebels">
        <img src="assets/images/Rebels.png" class="planetImage">
        <button class="mapButton">Rebels</button>
    </div>
    <div class="enemyContainer" id="armaments">
        <img src="assets/images/Armaments.png" class="planetImage">
        <button class="mapButton">Armaments</button>
    </div>
    <div class="enemyContainer" id="distants">
        <img src="assets/images/Distants.png" class="planetImage">
        <button class="mapButton">Distants</button>
    </div>    
    <div class="enemyContainer" id="ancients">
        <img src="assets/images/Ancients.png" class="planetImage">
        <button class="mapButton">Ancients</button>
    </div>
</div>