<div class="menuContainer">
    <button class="menuButton" id="overviewButton" (click)="changePage('Overview'); changeAppearance('overviewButton')">Overview</button>
    <button class="menuButton" id="buildingsButton" (click)="changePage('Buildings'); changeAppearance('buildingsButton')">Buildings</button>
    <button class="menuButton" (click)="changePage('Research'); changeAppearance('researchButton')">Research</button>
    <button class="menuButton" (click)="changePage('Shipyard'); changeAppearance('shipyardButton')">Shipyard</button>
    <button class="menuButton" (click)="changePage('Map'); changeAppearance('mapButton')">Map</button>
    <button class="menuButton" (click)="changePage('Logout'); changeAppearance('logoutButton')">Logout</button>
</div>