<div class="menuContainer"  *ngIf="loggedIn()">
    <button class="menuButton" id="messageButton" (click)="changePage('Messages'); changeAppearance('messageButton')"><i class="fa fa-envelope"> /</i> {{user.messages.length}}</button>
    <button class="menuButton" id="overviewButton" (click)="changePage('Overview'); changeAppearance('overviewButton')">Overview</button>
    <button class="menuButton" id="buildingsButton" (click)="changePage('Buildings'); changeAppearance('buildingsButton')">Buildings</button>
    <button class="menuButton" id="researchButton" (click)="changePage('Research'); changeAppearance('researchButton')">Research</button>
    <button class="menuButton" id="shipyardButton" (click)="changePage('Shipyard'); changeAppearance('shipyardButton')">Shipyard</button>
    <button class="menuButton" id="mapButton" (click)="changePage('Map'); changeAppearance('mapButton')">Map</button>
    <button class="menuButton" id="logoutButton" (click)="changePage('Login'); onLogout()">Logout</button>
</div>