
<div class=buildingsContainer>
    <div *ngFor = "let building of user?.buildings">
        <div class="buildingContainer">
            <img src="assets/images/Carbon Fiber Factory.jpg" *ngIf = 'building.name === "CarbonFiberFactory"'>
            <img src="assets/images/Quantum Glass Factory.jpg" *ngIf = 'building.name === "QuantumGlassFactory"'>
            <img src="assets/images/Higgs Boson Detector.jpg" *ngIf = 'building.name === "HiggsBosonDetector"'>
            <img src="assets/images/Labolatory.jpg" *ngIf = 'building.name === "Labolatory"'>
            <img src="assets/images/Spaceship Factory.jpg" *ngIf = 'building.name === "SpaceshipFactory"'>
            <div class="buildingDetails">
                <span>{{displayHelper.addSpaces(building.name)}}</span>                
                (lvl: {{building.level}})
                <div class="costContainer">Cost: 
                    <div *ngFor = "let cost of building.cost">
                        <span *ngIf= 'cost.name === "CarbonFiberResource"' style="color:#00E676">{{displayHelper.displayShortName(cost.name)}}</span>
                        <span *ngIf= 'cost.name === "QuantumGlassResource"' style="color:#00B8D4">{{displayHelper.displayShortName(cost.name)}}</span>
                        {{displayHelper.numberWithDots(cost.value)}}
                    </div>
                    <div class="timeContainer"><i class="fa-regular fa-clock"></i> 
                        Time to Build: {{building.timeToBuild}}
                        </div> 
                </div>
                
                <div class="descriptionContainer">
            <div class="description">
            {{building.description}}
            </div>            
        </div>
        <button class="buildingButton" [disabled]="!canBuild(building.type)" (click)="build(building.type)">Build</button>
    </div>
    </div>   
</div>
</div>
