
<div class=buildingsContainer>
    <div *ngFor = "let building of user?.buildings">
        <div class="buildingContainer">
            <img src="assets/images/Carbon Fiber Factory.jpg" *ngIf = 'building.name === "CarbonFiberFactory"'>
            <img src="assets/images/Quantum Glass Factory.jpg" *ngIf = 'building.name === "QuantumGlassFactory"'>
            <img src="assets/images/Higgs Boson Detector.jpg" *ngIf = 'building.name === "HiggsBosonDetector"'>
            <img src="assets/images/Labolatory.jpg" *ngIf = 'building.name === "Labolatory"'>
            <img src="assets/images/Spaceship Factory.jpg" *ngIf = 'building.name === "SpaceshipFactory"'>
            <div class="buildingDetails">
                <span>{{addSpaces(building.name)}}</span>                
                (lvl: {{building.level}})
                <div class="costContainer">Cost: 
                    <div *ngFor = "let cost of building.cost">
                        <span *ngIf= 'cost.name === "CarbonFiberResource"' style="color:#00E676">{{changeDisplayedName(cost.name)}}</span>
                        <span *ngIf= 'cost.name === "QuantumGlassResource"' style="color:#00B8D4">{{changeDisplayedName(cost.name)}}</span>
                        {{numberWithDots(cost.value)}}
                    </div> 
                </div>        
            Time to Build: {{building.timeToBuild}}</div>
            <button class="buildingButton">Build</button>
        </div>
    </div>   
</div>
