<div class=messagesContainer *ngIf="loggedIn()">  
    <div *ngFor = "let message of user?.messages">
        <div class="messageContainer">
            <div class="messageDetails">
                <div class="messageHeader">
                <span class="title">{{message.title}}</span>
                <span class="date">{{message.date}}</span>
                </div>
                <div class="messageContent">
                <div id ="content" class="content" *ngIf='message.title === "Battle Raport"' >{{(displayHelper.changeDisplayedName(displayHelper.replaceComasWithNewLine((message.content))))}}</div>
                <div id ="content" class="content" *ngIf='message.title !== "Battle Raport"'>{{(message.content)}}</div>

                <button class="messageButton" (click)="delete(message.id)">Delete</button>
            </div>
            </div>
        </div>
    </div>
</div>