<div class="loginContainer" *ngIf="!loggedIn()">
    <div class="credentialsContainer">
        <div>
        Username:
        <input class="loginInput" [(ngModel)]="this.username">
        </div>
        <div>
        Password:
        <input class="loginInput" [(ngModel)]="this.password" type="password">
        </div>
    </div>
        <div class="loginButtonsContainer">
        <button class="loginButton" (click)="login(); changePage('Overview')">Login</button>
        <button class="loginButton" (click)="register()">Register</button>
    </div>
</div>