
<div class=shipsContainer *ngIf="loggedIn()">
    <div *ngFor = "let ship of user?.ships; let i = index">
        <div class="shipContainer">
            <img src="assets/images/Light Fighter.jpg" *ngIf = 'ship.name === "LightFighterShip"'>            
            <img src="assets/images/Heavy Fighter.jpg" *ngIf = 'ship.name === "HeavyFighterShip"'>
            <img src="assets/images/Battleship.jpg" *ngIf = 'ship.name === "Battleship"'>
            <img src="assets/images/Destroyer.jpg" *ngIf = 'ship.name === "Destroyer"'>
            <img src="assets/images/Dreadnought.jpg" *ngIf = 'ship.name === "Dreadnought"'>
            <img src="assets/images/Mothership.jpg" *ngIf = 'ship.name === "Mothership"'>            
            <div class="shipDetails">                
                <span>{{displayHelper.addSpaces(displayHelper.changeDisplayedName(ship.name))}}</span>                
                <span id="margin">(Count:  {{ship.count}})</span>
                <span id="margin">
                HP: {{displayHelper.numberWithDots(ship.healthPoints)}}
                AP: {{displayHelper.numberWithDots(ship.attackPower)}}
            </span>
                <div class="costContainer">Cost: 
                    <div *ngFor = "let cost of ship.cost">
                        <span *ngIf= 'cost.name === "CarbonFiberResource"' style="color:#00E676">{{displayHelper.displayShortName(cost.name)}}</span>
                        <span *ngIf= 'cost.name === "QuantumGlassResource"' style="color:#00B8D4">{{displayHelper.displayShortName(cost.name)}}</span>
                        <span *ngIf= 'cost.name === "HiggsBosonResource"' style="color:#FFD700">{{displayHelper.displayShortName(cost.name)}}</span>
                        {{displayHelper.numberWithDots(cost.value)}}
                    </div>
                    <div class="timeContainer"><i class="fa-regular fa-clock"></i> Time to Build: <countdown #countdown [config]="configs[ship.type]" (event)="handleCountdown($event, ship.type)"></countdown></div>
                </div>
                
            <div class="shipRequirements">Requirements: <span id="red" >Spaceship Factory lvl {{ship.spaceshipFactoryLevelRequirement}}</span></div>   
            <div class="descriptionContainer">
                <div class="description">
                {{ship.description}}
                </div>
                </div>                
            <input name="{{'name'+i}}" id="{{'input'+i}}" class="shipCountInput" type="number" maxlength="4" placeholder="0" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
            <button class="shipButton" [disabled]="(!canBuild(ship.type)||(this.isShipUpgrading))" (click)="countdown.resume(); onClick(ship.type, user.username, getInputValue(i))">Build</button>           
        </div>
        </div>
    </div>   
</div>